body
{
  /* flex container */
  display: flex;
  flex-direction: column;
  align-items: center;

  /* font */
  font-family: 'Noto Sans TC';

  /* background */
  background-color: #fff;

  /* padding */
  padding: 60px 0 0 0;
  margin: 0;
}

.navbar
{
  background-color: #FFFFFF;
  padding: 0 50%;
  /* flex container */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* size */
  max-width: 1200px;
  width: 100%;

  /* fix */
  position: fixed;
  top: 0;
  z-index: 100;
}

.navbar--title
{
  padding: 10px;

  font-size: 30px;
  font-weight: 700;
  color: #448899;
}

.navbar--navcontainer
{
  /* flex item */
  
  /* flex container */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.navbar--navcontainer--navbtn
{
  font-size: 16px;
  font-weight: 500;
  color: #666666;

  padding: 10px;
}

.searchbar
{
  background-image: url("/source/welcome.png");
  background-position: center start;
  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
  height: 320px;

  /* flex container */
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar--container
{
  /* flex item */
  /* flex container */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* size */
  box-sizing: border-box;
  max-width: 1200px;
  width: 100%;
  height: 170px;

  padding: 10px;
}

.searchbar--container--title
{
  font-size: 28px;
  font-weight: 700;
  color: #F8F8F8;

  text-shadow: 0px 0px 30px 0px #AABBCC;
}

.searchbar--container--description
{
  font-size: 16px;
  font-weight: 700;
  color: #F8F8F8;
}

.searchbar--container--searchform
{
  /* flex item */
  align-self: flex-start;
  /* flex container */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* shadow */
  box-shadow: 0px 0px 20px 0px #AABBCC;
}

.searchbar--container--searchform--input
{
  /* size */
  width: 400px;

  /* box */
  padding: 15px;
  border: 0;
  border-radius: 5px 0 0 5px;

  /* font */
  font-size: 16px;
  font-weight: 700;
  color: #757575;
}

.searchbar--container--searchform--subbtn
{
  border: none;
  background: none;
  padding: 0;
  width: 60px;
  border-radius: 0 5px 5px 0;
  background-color: #448899;

  background-image: url("/source/icon_search.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center center;
}

.scrollbar
{
  /* flex container */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* box */
  box-sizing: border-box;
  max-width: 1200px;
  width: 100%;
  padding-top: 20px;
}

.scrollbar--scrollup,
.scrollbar--scrolldown
{
  /* box */
  width: 50px;
  height: 50px;

  /* flex container */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.scrollbar--scrollup
{
  padding: 9px 0px 9px 15px;
  justify-content: flex-end;
}

.scrollbar--scrolldown
{
  padding: 9px 15px 9px 0;
  justify-content: flex-start;
}

.scrollbar--scrollup--btn,
.scrollbar--scrolldown--btn
{
  width: 32px;
  height: 32px;
  
  border-radius: 50%;
  border: #666666 2px solid;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 50%;
  transition: opacity 0.3s ease;
}

.scrollbar--scrollup--btn
{
  background-image: url("/source/left arrow.png");
}

.scrollbar--scrolldown--btn
{
  background-image: url("/source/right arrow.png");
}

.scrollbar--attractions
{
  /* flex item */
  /* flex-grow: 1; */
  max-width: 1100px;
  /* flex container */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;

  padding: 13px 10px 13px 10px;

  overflow-x: scroll; 
  /* 出現滾動條 */
  white-space: nowrap;
}

.scrollbar--attractions::-webkit-scrollbar
{display:none;}
/* 隱藏滾動條 */


.scrollbar--attractions--list
{
  padding: 0 15px;
  /* flex item */
  
  /* font */
  font-size: 16px;
  font-weight: 500;
  color: #666666;

  text-align: center;

  transition: background-color 0.3s ease, color 0.3s ease, border-radius 0.3s ease;
}

.scrollbar--scrollup--btn:hover,
.scrollbar--scrolldown--btn:hover,
.scrollbar--attractions--list:hover,
.searchbar--container--searchform--subbtn:hover
{
  cursor: pointer;
}

.scrollbar--scrollup--btn:hover,
.scrollbar--scrolldown--btn:hover
{
  opacity: 100%;
}

.scrollbar--attractions--list:hover
{
  background-color: #666666;
  color:#FFFFFF;
  border-radius: 30px;
}

/* .hide {
  display: none;
} */

.gridbar
{
  padding-bottom: 100px;

  display: grid;
  gap: 30px;
  grid-template-columns: 270px 270px 270px 270px;
  grid-template-rows: auto;
}

.gridbar--item
{
  /* flex container */
  display: flex;
  flex-direction: column;

  border: 1px solid #e8e8e8;
  border-radius: 5px;
}

.gridbar--item--imgcontainer
{
  height: 200px;
  border-radius: 5px 5px 0 0;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  /* flex container */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.gridbar--item--imgcontainer--name
{
  box-sizing: border-box;
  height: 40px;
  padding: 10px;
  background-color: black;
  opacity: 70%;

  /* font */
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  text-align: start;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.gridbar--item--detailcontainer
{
  box-sizing: border-box;
  padding: 10px;

  /* flex container */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gridbar--item--detailcontainer--mrt,
.gridbar--item--detailcontainer--type
{
  /* font */
  font-size: 16px;
  font-weight: 500;
  color: #757575;
}

.footerbar
{
  height: 100px;
  width: 100%;
  background-color: #757575;
  text-align: center;
  line-height: 100px;
  text-wrap: nowrap;

  /* font */
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
}

@media screen and (max-width: 1170px){
  .gridbar
  {
    grid-template-columns: 270px 270px;
  }
  .searchbar--container--searchform--input
  {
    width: 50vw;
  }
}

@media screen and (max-width: 570px) {
  .gridbar {
    grid-template-columns: 270px;
  }
}